.button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: rgb(23, 43, 77);
  font-size: 14px;
  transition: 0.19s;
  &:hover,
  &:focus {
    transform: translate(2px, 2px);
  }
  &:active {
    transform: rotate(4deg) scale(0.9);
    transition: 0.04s;
  }
  &:disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      transform: none;
    }
  }
}
