.card {
  display: flex;
  flex-direction: column;
  max-height: 405px;
  padding: 8px;
  font-size: 14px;
  background-color: rgb(241, 242, 244);
  border-radius: 12px;
  color: rgb(23, 43, 77);
  width: 100%;
  cursor: pointer;
  transition: 0.19s;
  &:hover {
    transform: scale(0.97);
  }
  &:active {
    transform: scale(0.9);
    transition: 0.05s;
  }
}
.cardTitle {
  padding: 6px 8px 6px 12px;
  font-weight: 600;
}
.cardTask {
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  max-height: 350px;
  overflow: auto;
  scrollbar-width: thin;
}
.cardDate {
  padding-top: 6px;
  font-style: italic;
}
